form.account-form {
  display: inline-block;
  width: 280px;
  vertical-align: top;

  fieldset {
    margin-top: 10px;

    legend {
      color: #999;
      font-size: 17px;
    }

    span {
      font-size: 13px;
    }
  }

  label,
  input {
    display: block;
  }

  button {
    margin-top: 20px;
  }
}

.account-bottom {
  border-top: 1px dotted #ddd;
  display: block;
  margin-top: 60px;
  padding-top: 60px;
}
