.flow-header {
  position: relative;

  h3 {
    display: inline-block;
  }

  button .oi {
    font-size: 16px !important;
  }
}

.flow-labels {
  color: #999;
  font-size: 14px;
  padding: 10px;

  > div {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;

    .oi {
      font-size: 9px;
    }
  }

  .status-label {
    width: 50px;
  }

  .name-label {
    width: 25%;
  }
}

.add-flow {
  background: #222;
  color: #999;
  height: 100vh;
  overflow-y: scroll;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  z-index: 10000;
}

.add-flow {

  label,
  input {
    display: block;
  }

  div {

    input {
      display: inline-block;
      width: 138px;
    }
  }

  label {
    font-weight: 500;
    font-size: 13px;
    margin-top: 30px;
    padding: 0 0 10px 0;
  }

  input {
    margin-bottom: 4px;
    width: 300px;
  }

  button {
    display: block;
    margin-top: 20px;
  }
}

.flows {
  border-top: 1px solid #ddd;

  li {
    border-top: 1px solid #ddd;
    display: block;
    padding: 10px;
    position: relative;

    &:hover {
      background: #eee;

      .flow-btns button {
        color: #333 !important;
      }
    }

    .info {
      line-height: 36px;

      > div {
        display: inline-block;
        margin-right: 20px;
        vertical-align: top;
      }

      .flow-name {
        width: 25%;
      }

      .flow-status {
        color: $green;
        text-align: center;
        width: 50px;
      }

      .flow-btns {
        margin: 0;
        position: absolute;
        right: 0px;

        button {
          color: #999;
        }
      }
    }
  }
}
