.flow-header {
  margin-bottom: 20px;
  position: relative;

  h3 {
    display: inline-block;

    a {
      color: $blue;

      &:hover {
        color: darken($blue, 10%);
      }
    }

    .oi {
      font-size: 16px;
    }
  }

  button .oi {
    font-size: 16px !important;
  }
}

.flow-labels {
  font-size: 14px;
  padding: 10px;

  > div {
    color: #999;
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;

    &:hover {
      color: #333;
    }

    .oi {
      font-size: 9px;
    }
  }

  .status-label {
    width: 50px;
  }

  .name-label {
    width: 25%;
  }

  .sched-label {
    width: 120px;
  }
}

.add-flow {
  background: #222;
  border-left: 5px solid #fff;
  color: #999;
  height: 100vh;
  overflow-y: scroll;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  z-index: 10000;

  form {
    margin: 40px 0;
  }
}

.add-flow {

  label,
  input {
    display: block;
  }

  form > div {

    input {
      display: inline-block;
      width: 138px;
    }

    .delete-input {
      color: #666;
      cursor: pointer;
      display: inline-block;
      font-size: 10px;
      padding: 10px;

      &:hover {
        color: #999;
      }
    }
  }

  input,
  textarea {
    margin-bottom: 4px;
    width: 300px;
  }

  button {
    display: block;
    margin-top: 20px;
  }
}

.flows {
  border-top: 1px solid #ddd;

  li {
    border-top: 1px solid #ddd;
    display: block;
    padding: 10px;
    position: relative;

    &:hover {
      background: #eee;

      .flow-btns button {
        color: #333 !important;
      }
    }

    .info {
      line-height: 36px;

      > div {
        display: inline-block;
        margin-right: 20px;
        vertical-align: top;
      }

      .flow-name {
        width: 25%;
      }

      .flow-status {
        color: $yellow;
        cursor: pointer;
        text-align: center;
        width: 50px;
      }

      .flow-status.on {
        color: $green !important;
      }

      .last-sent,
      .days-to-next {
        width: 120px;
      }

      .flow-btns {
        margin: 0;
        position: absolute;
        right: 0px;

        button {
          color: #fff;
        }
      }
    }

    form {
      background: #222;
      color: #999;
      margin:10px;
      padding: 20px;

      div {

        input {
          display: inline-block;
          width: 200px;
        }

        .delete-input {
          color: #666;
          cursor: pointer;
          display: inline-block;
          font-size: 10px;
          padding: 10px;

          &:hover {
            color: #999;
          }
        }
      }

      label,
      input {
        display: block;
      }

      input,
      textarea {
        margin-bottom: 4px;
        width: 300px;
      }

      button {
        display: block;
        margin-top: 20px;
      }
    }
  }
}
