button {
  background: transparent;
  border: none;
  font-size: 13px;
  font-weight: 600;
  padding: 10px;

  &:hover {
    background: transparent;
  }

  &:focus {
    background: transparent;
    outline: none;
  }

  i {
    font-size: 10px;
  }
}

.btn-link {

  &:hover {

  }

  &:focus {

  }
}

.btn-light {
  background: #ccc;
  @include border-radius(2px);

  &:hover {
    background: #eee;
  }

  &:focus {
    background: #fff;
  }
}
