button {
  background: #ddd;
  border: none;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 10px 8px 10px;

  &:hover {
    background: #333;
    color: #fff;
  }

  &:focus {
    background: #111;
    color: #fff;
    outline: none;
  }

  i {
    font-size: 10px;
  }
}
