input[type=text],
input[type=email],
input[type=number] {
  background: rgba(0, 0, 0, 0.08);
  border: none;
  border-left: 2px solid transparent;
  font-weight: 500;
  padding: 15px;

  &:hover {
    background: rgba(0, 0, 0, 0.12);
  }

  &:focus {
    background: rgba(0, 0, 0, 0.16);
    border-left-color: $blue;
    outline: none;
  }
}
