form.dark {
  input[type=text],
  input[type=email],
  input[type=number],
  input[type=password],
  textarea {

    background: #444;
    @include border-radius(2px);
    border: none;
    color: #ccc;
    font-size: 13px;
    font-weight: 500;
    padding: 10px;

    &:hover {
      background: #666;
    }

    &:focus {
      background: #eee;
      color: #333;
      outline: none;
    }
  }
}

form.light {
  input[type=text],
  input[type=email],
  input[type=number],
  input[type=password],
  textarea {

    background: #eee;
    @include border-radius(2px);
    border: none;
    color: #333;
    font-size: 13px;
    font-weight: 500;
    padding: 10px;

    &:hover {
      background: #e6e6e6;
    }

    &:focus {
      background: #ddd;
      outline: none;
    }
  }
}
