<h3>Account</h3>

<form class="light account-form">
    <fieldset>
        <legend>Profile</legend>

        <label>Name</label>
        <input type="text" name="name" ng-model="profile.name"/>

        <label>Email</label>
        <span>{{profile.email}}</span>
    </fieldset>
</form>

<form class="light account-form">
    <fieldset>
        <legend>Change password</legend>

        <label>Old password</label>
        <input type="password" ng-keypress="clear()" ng-model="oldpass"/>

        <label>New password</label>
        <input type="password" ng-keypress="clear()" ng-model="newpass"/>

        <label>Confirm new password</label>
        <input type="password" ng-keypress="clear()" ng-model="confirm"/>

        <button class="btn-dark" ng-click="changePassword(oldpass, newpass, confirm)">Change password</button>

        <p class="error" ng-show="err">{{err}}</p>
        <p class="good" ng-show="msg">{{msg}}</p>
    </fieldset>
</form>

<form class="light account-form">
    <fieldset>
        <legend>Change email</legend>

        <label>New email</label>
        <input type="text" ng-keypress="clear()" ng-model="newEmail"/>

        <label>Password</label>
        <input type="password" ng-keypress="clear()" ng-model="pass"/>

        <button class="btn-dark" ng-click="changeEmail(pass, newEmail)">Update email</button>

        <p class="error" ng-show="emailerr">{{emailerr}}</p>
        <p class="good" ng-show="emailmsg">{{emailmsg}}</p>
    </fieldset>
</form>

<div class="account-bottom">
  <button ng-click="logout()" class="btn-dark">Logout</button>
</div>
