<div class="flow-header">
  <h3>Flows</h3>
  <button ng-show="!showForm" ng-click="showAddFlow()"><i class="oi oi-r" data-glyph="plus"></i></button>
  <button ng-show="showForm" ng-click="showAddFlow()"><i class="oi oi-r" data-glyph="ban"></i></button>
</div>

<div ng-show="showForm" class="add-flow">
  <form class="dark">
    <h4>Add a new flow</h4>
    <label for="flow.name">Name this flow</label>
    <input id="flow.name" placeholder="Flow name" ng-model="newFlow.name" type="text">

    <label for="flow.body">What's the content of your message?</label>
    <textarea id="flow.body" placeholder="Flow body" ng-model="newFlow.body"></textarea>

    <label for="flow.input">Who do you want an update from?</label>
    <div ng-repeat="input in inputs">
      <input id="flow.input" placeholder="Name" ng-model="input.name" type="text">
      <input placeholder="Email" ng-model="input.email" type="email">
      <div class="delete-input" ng-click="removeInput(input)">
        <i class="oi" data-glyph="x"></i>
      </div>
    </div>
    <button class="btn-light" ng-click="addInput()"><i class="oi oi-r" data-glyph="plus"></i>Add another input</button>

    <label for="flow.reqDay">Request an update every</label>
    <select for="flow.reqDay" ng-options="day.code as day.name for day in daysOfWeek" ng-model="newFlow.requestDay">
      <option style="display:none" value="">Select a day</option>
    </select>

    <label for="flow.output">Who do you want the compiled report sent to?</label>
    <input id="flow.output" placeholder="Output" ng-model="newFlow.output" type="email">

    <label for="flow.postDay">Send the compiled updates to me every</label>
    <select for="flow.postDay" ng-options="day.code as day.name for day in daysOfWeek" ng-model="newFlow.postDay">
      <option style="display:none" value="">Select a day</option>
    </select>

    <button class="btn-light" type="submit" ng-click="addFlow()"><i class="oi oi-r" data-glyph="plus"></i>Add flow</button>
  </form>
</div>

<div class="flow-labels">
  <div class="status-label">Status</div>
  <div class="name-label">Name<i class="oi oi-l" data-glyph='caret-bottom'></i></div>
  <div class="sched-label">Last Sent<i class="oi oi-l" data-glyph='caret-bottom'></i></div>
  <div class="sched-label">Days To Next<i class="oi oi-l" data-glyph='caret-bottom'></i></div>
  <div>Response %<i class="oi oi-l" data-glyph='caret-bottom'></i></div>
</div>

<ul class="flows">
  <li ng-repeat="(key, flow) in flows | filter:{author: user.uid}
    | orderBy: flow.name">
    <div class="info">
      <div class="flow-status" ng-class="{on: flow.status===1}" ng-click="toggleStatus(flow)">
        <i class="oi oi-r" data-glyph="media-record"></i>
      </div>
      <div class="flow-name">{{flow.name}}</div>
      <div class="last-sent">{{calcLastSent(flow)}}</div>
      <div class="days-to-next">{{calcDaysToNext(flow)}}</div>
      <div class="flow-btns">
        <button class="btn-link" ng-click="editFlow(flow, $index)" ng-hide="showEditForm[$index]">
          <i class="oi oi-r" data-glyph="pencil"></i>
        </button>
        <button class="btn-link" ng-click="editFlow(flow, $index)" ng-show="showEditForm[$index]">
          <i class="oi oi-r" data-glyph="ban"></i>
        </button>
        <button class="btn-link" ng-click="removeFlow(flow)"><i class="oi oi-r" data-glyph="x"></i></button>
      </div>
    </div>

    <form ng-hide="!showEditForm[$index]" class="dark">
      <h4>Edit Flow</h4>
      <label for="flow.editName">Rename this flow</label>
      <input id="flow.editName" value="{{flow.name}}" ng-model="flow.name" type="text">

      <label for="flow.editBody">Change the content of your message</label>
      <textarea id="flow.editBody" value="{{flow.body}}" ng-model="flow.body"></textarea>

      <label for="flow.editInput">Change who you want an update from</label>
      <div ng-repeat="input in flow.input">
        <input id="flow.editInput" placeholder="Name" value="{{input.name}}" ng-model="input.name" type="text">
        <input placeholder="Email" value="{{input.email}}" ng-model="input.email" type="email">
        <div class="delete-input">
          <i class="oi" data-glyph="x"></i>
        </div>
      </div>
      <button class="btn-light"><i class="oi oi-r" data-glyph="plus"></i>Add another input</button>

      <label for="flow.editReqDay">Change when you request an update</label>
      <select id="flow.editReqDay" for="flow.reqDay" ng-options="day.code as day.name for day in daysOfWeek" ng-model="flow.requestDay">
        <option style="display:none" value="">Select a day</option>
      </select>

      <label for="flow.editOutput">Change who you want the compiled report sent to</label>
      <input id="flow.editOutput" value="{{flow.output}}" ng-model="flow.output" type="email">

      <label for="flow.editPostDay">Change when you want the compiled updates sent</label>
      <select id="flow.editPostDay" for="flow.postDay" ng-options="day.code as day.name for day in daysOfWeek" ng-model="newFlow.postDay">
        <option style="display:none" value="">Select a day</option>
      </select>

      <!--<label>Time</label>
      <input type="time" name="time" ng-model="newFlow.time">-->
      <button class="btn-light" type="submit" ng-click="saveFlow(flow, $index)"><i class="oi oi-r" data-glyph="check"></i>Save changes</button>
    </form>
  </li>
</ul>
