ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}

.container {
  margin: 50px auto;
  width: 1000px;

  > div {
    display: inline-block;
    width: 850px;
    vertical-align: top;
  }
}

.menu {
  background: #fff;
  font-size: 14px;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  width: 100px;

  li {
    color: #999;
    display: block;
    font-weight: 600;
    margin-bottom: 20px;

    &:hover {
      color: #333;
    }
  }
}
