ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}

.menu {
  background: #fff;
  padding: 20px;

  li {
    color: #999;
    font-weight: 600;
    margin-right: 40px;

    &:hover {
      color: #333;
    }
  }
}
