ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}

.container {
  margin: 50px auto;
  width: 1000px;

  > div {
    display: inline-block;
    width: 850px;
    vertical-align: top;
  }
}

.menu {
  font-size: 14px;
  display: inline-block;
  margin: 30px auto 0 auto;
  padding: 20px;
  width: 100px;

  li {
    display: block;

    a {
      color: #999;
      display: block;
      padding: 10px 0;

      &:hover {
        color: #333;
      }

      &:focus {
        outline: none;
      }
    }

    .active {
      color: #333;
      font-weight: 600;
    }
  }
}
