@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

body {
  font: 15px Helvetica Neue;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  margin: 10px 0;
}

h1 {
  font: 40px Helvetica Neue;
  font-weight: 600;
}

h2 {
  font: 30px Helvetica Neue;
  font-weight: 600;
}

h3 {
  font: 24px Helvetica Neue;
  font-weight: 600;
}

h4 {
  font: 18px Helvetica Neue;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea {
  font: 14px Helvetica Neue;
}
